.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.add-qn-button {
  height: fit-content;
  cursor: pointer;
  background-color: #ffe81f;
  width: 100px;
  height: 70px;

  border-radius: 20px;
  border: solid 2px #d4ab33;
  margin-top: 28px;
  box-shadow: 3px 3px 0px 0px #d4ab33;
  color: rgba(23, 22, 22, 0.95);
  
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23f5576c' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23f093fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23fee140' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
  
  
  font-size: 40px;
}



.title-container {
  display: flex;
  height: 100px;
  margin-top: 45px;
    
  
  
}

.title-form {
  height: fit-content;
}

.questions-cards {
  display: flex;
  height: 130px;
  padding-bottom: 50px;
}



#title-input {
  height: fit-content;
  border-radius: 20px;
  
  height: 70px;
  width: 700px;
  padding-top: 5px;
  word-wrap: break-word;
  border-style: none;
  
}

#question-input {
  height: fit-content;
  border-radius: 20px;
  border-style: none;
  height: 70px;
  width: 700px;
  padding-bottom: 5px;
  word-wrap: break-word;
  border: solid 5px #d4ab33;
  
}

#question-form {
  height: fit-content;
}

.qn-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
 

  
}
.questions-list {
  position: relative;
  
  height: fit-content;
  color: white;
  list-style: none;
  
}

.question-name {
  
  height: fit-content;
    
    
  font-size: 35px;
  border-radius: 6px;
  border: solid 2px #b791e9;
  margin-top: 28px;
  box-shadow: 3px 3px 0px 0px #b791e9;
  color: rgba(23, 22, 22, 0.95);
    
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23cd9cf2' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23c2e9fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%2366a6ff' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
  
}



.remove-button {
  height: fit-content;
  position: relative;
  float: right;
}

.question-name {
  height: fit-content;
}

#save-game {
  height: fit-content;
  font-size: 45px;
  border-radius: 6px;
  border: solid 2px #d4ab33;
  text-align: center;
  box-shadow: 0 6px #d4ab33;
  color: rgba(23, 22, 22, 0.95);
  
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23f5576c' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23f093fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%23fee140' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
  margin-top: 20px;
  height: 65px;
  width: 260px;
  
  top: 0;
  position: relative;
  transition: box-shadow 250ms ease, top 250ms ease;  

}

#save-game:hover {
  top: 3px;
  box-shadow: 0 3px #d4ab33;
}
  
#save-game:active {
  top: 6px;
  box-shadow: 0 0 #d4ab33;
}